/**
* .main-nav-full
*/
.main-nav-full {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 20%;
  width: 100%;
  height: 100vh;
  background-color: var(--theme-basic);
}
.main-nav-full-active {
  display: block;
}
