/**
 *
 * FOOTER
 *
 */

footer {
  display: block;
  width: 80vw;
  max-width: var(--wrapper-max-width);
  margin: 2rem auto;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-nav li {
  margin-left: 12px;
}
.footer-nav a {
  display: block;
  margin: auto;
  width: 100%;
  font-size: 0.9rem;
  color: var(--theme-color1);
}

@media (min-width: 960px) {
}
