/**
 *
 * MAIN
 *
 */

@media (min-width: 0px) and (max-width: 960px) {
  /* MAIN - Container */
  main {
    margin: auto;
    max-width: var(--wrapper-max-width-new);
    min-height: 90vh;
  }

  /* P */
  main p {
    display: block;
    max-width: var(--wrapper-max-width-new);
    margin-bottom: 1.4rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin: 30px 0 16px 0;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 32px 0 16px 0px;
  }
}

@media (min-width: 960px) {
  /* MAIN - Container */
  main {
    margin: auto;
    max-width: var(--wrapper-max-width-desktop);
    min-height: 90vh;
  }

  /* UL */
  main ul:not(.wp-block-sitemap) {
    list-style: disc;
    margin-left: 1em;
    max-width: var(--wrapper-max-width-desktop-content);
    padding: 0 1em;
  }

  /* P */
  main p {
    display: block;
    max-width: var(--wrapper-max-width-desktop-content);
    margin-bottom: 1.4rem;
  }

  /* A */
  main p a {
    display: inline-block;
    width: var(--wrapper-max-width-desktop-content);
    min-width: var(--wrapper-max-width-desktop-content);
    _max-width: 680px;
    max-width: var(--wrapper-max-width-desktop-content);
    background-color: var(--theme-color6);
    background-color: var(--theme-basic-color1);
    padding: 4px 8px;
    text-decoration: underline;
    color: var(--theme-color1);
    font-size: 1rem;
    font-weight: 700;
    padding: 12px;
    border-radius: 6px;
    _overflow: hidden;
    overflow-wrap: break-word;
  }

  /* PRE */
  main pre {
    display: flex;
  }

  /* BUTTON in PRE */
  pre button {
    background-color: #f5f5f5;
    min-width: 50px;
    margin-left: 6px;
    margin-bottom: 1.4rem;
    text-align: center;
    border: 0px solid #fff;
    color: var(--theme-color1);
    font-size: 3em;
    cursor: pointer;
  }

  /* CODE */
  code {
    font-family: "JetBrains Mono", sans-serif;
    _font-family: "Source Code Pro", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    padding: 20px;
    _white-space: pre-line;
    white-space: pre-line;
    background-color: var(--theme-basic-color1);
    color: var(--theme-color5);

    _min-width: 680px;
    _max-width: var(--wrapper-max-width);

    width: 680px;

    margin-bottom: 1.4rem;

    border-radius: 6px;

    _tab-size:30px;
  }

  h2 {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin: 30px 0 16px 0;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 32px 0 16px 0px;
  }
}
