/**
 * 
 * .sub-main-nav
 *
 */

@media (min-width: 0px) and (max-width: 960px) {
  .sub-main-nav,
  .sub-main-nav-top {
    display: none;
  }
}

@media (min-width: 960px) {
  /* SUB-NAV - Container */
  .sub-main-nav {
    opacity: 1;
    margin: auto;
    padding: 6px 0px 6px 0px;
    max-width: calc(var(--wrapper-max-width) + 12px);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: var(--theme-basic);
    _background: rgb(255, 255, 255);
    _background: linear-gradient(
      180deg,
      rgba(245, 245, 245, 1) 0%,
      rgba(245, 245, 245, 1) 80%,
      rgba(245, 245, 245, 0) 100%
    );
    _box-shadow: 3px 3px 0px #666;
    _transition: 1s background-color ease;
  }

  /* DIV - dyn. Wrapper*/
  .sub-main-nav > div {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }

  /* UL */
  .sub-main-nav ul {
    display: flex;
    justify-content: left;
    flex-wrap:wrap;
  }

  /* LI */
  .sub-main-nav li.page_item {
    opacity: 1;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0px 6px;
    padding: 6px 12px;
    overflow: auto;
  }

  .sub-main-nav li.page_item {
    background-color: var(--theme-color6);
  }

  .sub-main-nav
    li.current_page_item:not(.current_page_item, .current_page_ancestor) {
    background-color: var(--theme-color1);
  }

  .sub-main-nav li.current_page_item,
  .sub-main-nav li.current_page_ancestor {
    background-color: var(--theme-color1);
    _font-weight: 700;
  }

  /* A */
  .sub-main-nav a {
    display: inline-block;
    margin: auto;
    white-space: nowrap;
  }

  .sub-main-nav li a {
    color: var(--theme-color1);
  }
  .sub-main-nav-top li a {
    color: var(--theme-color3);
  }

  .sub-main-nav li.current_page_item a {
    color: var(--theme-basic-color2);
  }

  /**
* 
* Scroll-Event
*
*/

  /* NAV - Container */
  .sub-main-nav-top {
    max-width: 100%;
    width: 100%;
    background-color: var(--theme-color1);
  }

  /* DIV - dyn. Wrapper*/
  .sub-main-nav-top > div {
    width: 100%;
    max-width: var(--wrapper-max-width);
    margin: auto;
  }

  /* LI */
  .sub-main-nav-top li.page_item {
    background-color: var(--theme-color1);
  }

  .sub-main-nav-top
    li.menu_item:not(.current_page_item, .current_page_ancestor) {
    background-color: var(--theme-color1);
  }

  /* A */
  .sub-main-nav-top li.current_page_item a {
    color: var(--theme-basic);
  }
}
