/**
 * 
 * .theme-sites-nav
 *
 */

@media (min-width: 0px) and (max-width: 960px) {

  /* UL */
  .theme-sites-nav {
    display: block;
    width: 100%;
  }

  /* LI */
  .theme-sites-nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    _margin-right: 10px;
    _border-radius: 50%;
  }
}

@media (min-width: 960px) {

  /* UL */
  .theme-sites-nav {
    display: flex;
    justify-content: space-between;
    _align-content: stretch;
    flex-wrap: wrap;
    width: 100%;
    max-width: 960px;
  }

  /* LI */
  .theme-sites-nav li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 150px;
    margin-right: 10px;
    _border-radius: 50%;
  }

  .theme-sites-nav li:last-child {
    margin-right: 0px;
  }

  /* A */
  .theme-sites-nav a {
    width: 100%;
    margin: auto;
    padding: 20px 0px;
    border-radius: 9px;
    color: var(--theme-color2);
    _background-color: #588ca6;
    border: 1px solid var(--theme-color2);
    box-shadow: 0px 0px 0px #588ca6;
    text-align: center;
    font-weight: 900;
    transition: 1s color ease;
  }

  .theme-sites-nav a:hover {
    _box-shadow: 0px -7px 0px inset #588ca6;
    color: var(--theme-color1);
    transition: 1s color ease;
  }
}